##### Custom #####

# local repo file storage
git_ignore/
data/
logging/

##### Secrets #####

ignore.JSON
secrets.JSON

##### JupyterNotebooks #####

# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/




##### macOS #####

# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

##### Tableau ##### 

.~*


##### Tableau - Steffek ##### 
Datasources/
Logs/
Shapes/
TabOnlineSyncClient/
*.tps
# Steffek
# http://sqldbpros.com/2017/08/tableau-git-ignore-default-directories-and-preference-files/